.vs
azure-redis-openai-demo-blazor/bin
azure-redis-openai-demo-blazor/bin/*
azure-redis-openai-demo-blazor/obj
azure-redis-openai-demo-blazor/obj/*
azure-redis-openai-demo-blazor.Client/bin
azure-redis-openai-demo-blazor.Client/bin/*
azure-redis-openai-demo-blazor.Client/obj
azure-redis-openai-demo-blazor.Client/obj/*
azure-redis-openai-demo-blazor/Properties
azure-redis-openai-demo-blazor/azure-redis-openai-demo-blazor.csproj.user