@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Chat</PageTitle>

<div class="form-group row mb-2">
    <label class="col-md-10 col-form-label">
        User:
        <InputText class="form-control" @bind-value="userInput" />
    </label>
</div>
<br/>
<div class="form-group row mb-2">
    <label class="col-md-10 col-form-label">
        Message:
        <InputTextArea class="form-control" @bind-value="messageInput" size="200" />
    </label>
</div>
<br/>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@if (showSpinner)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">
            <BlazorBootstrap.Spinner />
            Loading...
        </span>
    </div>
}

@code {
    private HubConnection? hubConnection;
    private List<string> messages = [];
    private string? userInput;
    private string? messageInput;
    private string? tempMessage;
    bool showSpinner = false;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            if (user != "AI Assistant")
            {
                showSpinner = true;
            }
            else { 
                showSpinner = false;
            }
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            tempMessage = messageInput;
            await hubConnection.SendAsync("SendMessage", userInput, messageInput);
            await hubConnection.SendAsync("SendOpenaiMessage", tempMessage); // TODO: add spinning progress bar
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}